---
import Layout from "../../layouts/Layout.astro";
import UserDashboard from "../../components/user/UserDashboard";
---

<Layout title="My Move Dashboard | ReloFinder" noindex={true}>
    <div class="pt-32 pb-24 min-h-screen bg-slate-50">
        <UserDashboard client:only="react" />
    </div>
</Layout>
